.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 10px 10px 10px black;
    transition: 1s;
}

@media screen and (min-width: 1245px) {
    #divCima {
        display: flex;
        justify-content: space-around;
    }

    .botaoCarrinho:hover {
        background-color: rgb(186, 19, 74);
    }

    .cardPc {
        width: 32vh;
        height: 500px;
        display: inline-block;
    }

    #divBaixo {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

}

@media screen and (min-width: 840px) and (max-width: 1244px) {
    #divCima {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .botaoCarrinho:hover {
        background-color: rgb(186, 19, 74);
    }

    .cardPc {
        width: 36vh;
        height: 500px;
        display: inline-block;
    }

    #divBaixo {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 531px) and (max-width: 839px) {
    #divCima {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .botaoCarrinho:hover {
        background-color: rgb(186, 19, 74);
    }

    .cardPc {
        width: 32vh;
        height: 500px;
        display: inline-block;
    }

    #divBaixo {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 530px) {
    main {
        width: 110vw;
    }

    #divCima {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .botaoCarrinho:hover {
        background-color: rgb(186, 19, 74);
    }

    .cardPc {
        width: 34vh;
        height: 500px;
        display: inline-block;
    }

    #divBaixo {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        flex-wrap: wrap;
    }
}